.color {
  border: 1px solid black;
  display: inline-block;
  height: 41px;
  margin-left: 8.6%;
  margin-right: 8.6%;
  width: 7%;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#clear-board {
  height: 20px;
  margin-left: 46.7%;
  margin-right: 47.5%;
  margin-top: 30px;
  width: 70px;
}

#color-palette {
  height: 41px;
  margin-left: 25%;
  width: 50%;
}

#pixel-board {
  border: 1px solid black;
  display: table;
  margin-left: 41.5%;
  margin-right: 41.5%;
  margin-top: 40px;
}

#title {
  text-align: center;
}
